/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Overall preset */
html {
    box-sizing: border-box;
 }

 *,
 *:before,
 *:after {
    box-sizing: inherit;
 }

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: .5em;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: .5rem;
}

p {
    padding: .5rem 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/* set the content wrapper */
header, footer {
    background-color: #222;
}

.wrapper {
    width: 100%;
    margin: auto;
    left: 0;
}

/* set the max-width of the container */
.wrapper div {
    max-width: 1200px;
    position: relative;
    margin: auto;
}

/********** Header **********/

/* Nav bar area */

.nav {
    background-color: #222;
    padding: 10px;
}

#logo {
    margin: 1rem 0;
    width: auto;
}

nav a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #c78c06;
    background-color: #222;
    padding: 1rem;
}

li:nth-child(1) {
    background-color: #c78c06;
}

/* Change the color of links on hover and active */
li a:hover, .active {
    background-color: #c78c06;
    color: #222;
    display: inline-block;
    text-align: center;
    border-style: none;
}

/* Search bar */

nav input {
    /* Calculates the width of the search bar to put the button on its right side */
    width: calc(100% - 33px);
    height: 32px;
    font-size: 16px;
    margin: 0 auto;
}

nav button {
    background-color: #222;
    border: 1px solid #c78c06;
    height: 32px;
    width: 32px;
    float: right;
}

.fa-search {
    color: #c78c06;
    font-size: 24px;
    font-weight: bold;
}

/* main banner */

.banner {
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    background-position: 50% 50%;
    height: 500px;
    position: relative;
}

/* Center components inside at a max width of 1200px */
.container-banner {
    position: inherit;
    background-color: rgba(22, 22, 22, .7) ;
    color: white;
    top: 10%;
    bottom: 10%;
    margin: 0 auto;
    padding: 5% 10px;
    max-width: 1200px;
}

.container-banner a {
    background-color: #c78c06;
    color: #222;
    font-size: 20px;
    padding: 1.3em;
    display: inline-block;
    margin: 10px 0;
}

/********** Main **********/

/* About Us with flexbox */

/* set the bg color and horizontally expand ignoring the max-width limit */
#about {
    background-color: #ffe6ac;
}

.about-us {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* Our Service area */

.our-services div {
    margin: 10px;
}

.our-services .card {
    background-color: #ffe6ac;
}

.card h3, .card p {
    padding: 10px;
}

.card a {
    background-color: #222;
    color: white;
    font-size: 16px;
    padding: 1.5em;
    display: inline-block;
    margin: 10px;
}

/* Our Vision area */

/* set the bg image and horizontally expand ignoring the max-width limit */
#vision {
    background-image: url(../images/vision.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.our-vision {
    color: white;
    padding: 20px 10px;
}

.our-vision a {
    background-color: #222;
    border: 1px solid #c78c06;
    color: white;
    font-size: 16px;
    padding: 1.5em;
    display: inline-block;
}

/* Our Team with flexbox */

.our-team .heading {
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
}

.our-team {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.our-team div {
    margin: 0;
}

.our-team img {
    display: block;
}

.container-j, .container-b {
    background-color: #ffe6ac;
    padding: 10px;
}

.our-team h4 {
    font-weight: bold;
}

/* style the bar in the containers */
hr {
    height: 2px;
    background-color: #c78c06;
    border: 0;
}

/* Contact Us with flexbox */

.contact-us div {
    margin: 0 auto;
    padding: 10px;
}

.contact-us .heading {
    width: 100%;
    padding-bottom: 0;
}

.contact-us {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.contact-us h3 {
    padding-bottom: 10px;
}

/* Form Properties */
.form {
    padding: 10px;
    line-height: 2em;
}

.form input {
    width: 100%;
    height: 2rem;
    border: 1px solid #222;
}

.form textarea {
    width: 100%;
    height: 10rem;
    border: 1px solid #222;
    resize: none;
    overflow: auto;
}

.form button {
    background-color: #222;
    color: #c78c06;
    font-size: 18px;
    border: 0;
}

/* Table properties */
.table {
    padding: 10px;
    width: 100%;
}
table {
    width: 100%;
}

tr {
    height: 50px;
}

th {
    background-color: #ffe6ac;
    vertical-align: middle;
    border: 1px solid #222;
}

th:nth-child(1) {
    width: 60%;
}

td {
    vertical-align: middle;
    padding: 10px;
    border: 1px solid #222;
}

/* Map properites */
.map {
    padding: 10px;
    width: 100%;
}

iframe {
    width: 100%;
}

/********** Footer **********/

/* Footer properties */
.copyright {
    color: #c78c06;
    padding: 20px;
    line-height: 2em;
}

.copyright a {
    color: #c78c06;
    text-decoration: underline;
}


/*******************************************************
 Adds media query for the screen size of 760px and above
 *******************************************************/

@media screen and (min-width: 760px) {
    /* set nav bar horizontally */
    .nav {
        height: 100%;
    }

    nav ul {
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    nav a {
        padding: 1rem 2rem;
    }
    
    li:nth-child(1) {
        background: none;
    }
    
    /* set flex-dirextion horizontally on About Us */
    .about-us {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .pic-us {
        flex-basis: 50%;
    }
    
    .container-us {
        padding: 15px;
        flex-basis: 50%;
    }

    /* set grid on Our Services */
    .our-services .heading {
        grid-area: heading;
    }
    
    .digital {
        grid-area: digital;
    }

    .marketing {
        grid-area: marketing;
    }

    .video {
        grid-area: video;
    }

    .web {
        grid-area: web;
    }

    .print {
        grid-area: print;
    }
    
    .our-services {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "heading heading heading heading heading heading"
        "digital digital digital marketing marketing marketing"
        "video video web web print print"
        ;
    }

    .card a {
        width: calc(100% - 20px);
    }

    /* set the flexbox on Our Team in different order */
    .our-team {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .pic-j {
        flex-basis: 50%;
    }

    .container-j {
        flex-basis: 50%;
    }

    .pic-b {
        order: 1;
        flex-basis: 50%;
    }
    
    .container-b {
        flex-basis: 50%;
    }

    /* set the flexbox on Our Team in different order */
    .contact-us {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .form {
        flex-basis: 50%;
        height: 100%;
        /* display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start; */
    }

    .map {
        flex-basis: 50%;
    }
    
    .table {
        order: 1;
        flex-basis: 100%;
    }
}